{% load auth_extras %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    {% if user|has_group:"Director" %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_list' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrators' %}">Requests for Lessons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'school_term' %}">School term</a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'all_transactions' %}">Transactions</a>
    </li>
  </ul>
    {% elif user|has_group:"Admin" %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrators' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'school_term' %}">School term</a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'all_transactions' %}">Transactions</a>
    </li>
  </ul>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'student' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_children' %}">Register children</a>
    </li>
  </ul>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'request' %}">Request a lesson</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'balance' %}">Balance</a>
    </li>
    {% endif %}
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'edit_user' user.id%}">Change profile</a></li>
        <li><a class="dropdown-item">Change password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>